# pretrained models
*.h5
*.tfmodel

# bounding box
img/original/ImageNet/*/_bbox/

src/InstColorization/checkpoints/*

# resources

resources/*/*.pt
resources/*/*.npy

# pycharm
.idea/
__pycache__/
*.pyc

# virtual env
/venv/
./envs

#jupyter
src/.ipynb_checkpoints/

tex/

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
tex/*.pdf
*.bbl
*.blg
*.gz